@charset "UTF-8";

body {
	/* background-color: #FFFFC2; -> Yellow */
	background-color: #707070;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}
.hidden {
	display: none;
}
div.hr_main {
	color: #DAA520;
	margin-top: 20px; 
	margin-bottom: 20px;
}
hr.new4 {
  border: 1px solid #DAA520;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.navbar a:hover {
  background-color: #848484;
  border-radius: 50%;
}
.dropdown-menu a {
	width: 65%;
	margin: auto;
	padding: auto;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa {
  padding: 15px;
  padding-right: 25px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
div.mainDiv1 {
	background-color: #ececec;
	width: 100%;
	border-radius: 30px;
	margin: 1.5% 0 4% 1.5%;
}
div.mainDiv1::after {
	clear: both;
	display: table;
}
div.mainDiv2 {
	background-color: #ececec;
	width: 100%;
	border-radius: 30px;
	margin-bottom: 4%;
	margin-top: 1.5%;
}
div.mainDiv2::after {
	clear: both;
	display: table;
	content: "";
}
div.app {
	margin-top: 7%;
	margin-bottom: 4.5%;
	text-align: center; 
	font-size: 17px;
}
div.app a {
	background-color: #65D9FF;
	padding:1% 2% 1% 2%;
	color: black;
	text-decoration: none;
	border-radius: 20px;
	border: solid #65D9FF;
}
div.project p {
	margin-top: 4%;
	font-family: Georgia;
	margin-left: 230px; 
	font-size: 17px;
	margin-left: 280px; 
	font-size: 17px;
}
header {
	text-align: center;
	background-color: #7EE2FF;
	margin: 0px 6px 0px 6px;
	border: solid green;
	box-shadow: 5px 5px 5px 5px #888888;
	font-size: 16px;
	border-radius: 20px;
}
header h1 {
	font-family: Curlz mt; /* Verdana */
}
div.class1 {
	float: left;
	margin-left: 2%;
}
div.class1 p {
	font-size: 19px;
	margin: 0 5% 0 5%;
	font-family: Georgia;
}
div.gradient {
	margin-top: 30px;
	height: 6px;
	background: linear-gradient(orange, green);
}
/* don't need blow class */ 
div.verticalNav > ul > li {
	padding-bottom: 3px;
}
.img-container {
        text-align: center;
}
div.verticalNav {
	padding: 18px 40px 10px 0px;
	margin-left: 10px;
	background-color: #7EE2FF;
	border: solid black 0.1em;
	list-style-type: none;
	border-radius: 15px;
	margin-bottom: 10%;
}
div.verticalNav a {
   background-color: #E0E0E0;
   color: black;
   display: block;
   border: solid black 0.1em;
   font-size: 16px;
   line-height: 1.5em;
   text-align: center;
   text-decoration: none;
   font-family:helvetica;
   padding-top: 2px;
}  

/* Pseudo-class, works for state when mouse is hovering over link */
li a:hover {
  box-shadow: 5px 5px 5px 5px #888888;
  background-color: #989898;
  color: white;
  transform: scale(1.06);
}
li a:active {
  color: black;
}
a:visited {
  color: black;
}
div.class1 hr {
    width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	background-color: #666;
}
div.res-vm {
	font-size: 35px;
	margin-left: 400px;
}
div.classResume p {
	font-size: 18px;
	margin-left: 210px;
	margin-right: 140px;
	font-family: Georgia;
}
div.classResume pre {
	font-family: Georgia;
	font-size: 18px;
}
div.classResume h1 {
	margin-top: 3%;
	margin-right: 100px; 
}
div.resume_hr {
	width: 90%;
	height: 3px;
	background-color: black;
}
div.web {
	font-size: 35px;
	margin-left: 500px;
	margin-bottom: 15px;
}
div.websites {
	float: right;
	width: 80%;
}
div.websites p {
	float: left;
	font-size: 19px;
	padding-right: 120px;
	font-family: Georgia;
}
div.websites hr {
	color: orange;
	width: 81%;
	border: solid;
	margin-right: 200px;
	margin-top: 30px;
}
div.websites img {
	height: 400px;
	width: 770px;
}
div.lastPicture img{
	 height: 400px;
	 width: 550px;
	 border: solid green 0.4em;
	 margin-left: 30%;
	 filter: brightness(1.4);
}
div.vm {
	float: right;
	width: 80%;
}
div.vm img {
	width: 90%;
	height: 80%;
}
div.vm p {
	font-size: 18px;
	width: 90%;
	float: left;
	font-family: Georgia;
}
div.back_to_top {
	font-size: 20px;
	height: 20px;
	width: 110px;
	float: left;
	padding: 0px 0px 50px 5px;
}
footer p {
	background-color: #dfceae;
	margin-top: 0px;
	padding-top: 0px;
	font-size: 16px;
	height: 40px;
}
footer {
	margin-top: 20px;
	border-top: #DAA520 solid 2px;
	background-color: #dfceae;
	height: 40px;
	padding-top: 5px;
	padding-left: 5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}


@media only screen and (max-width: 574px) {
	#img {
		margin-top: 15%;
	}
	#web {
		margin-bottom: 8%;
	}
}