/*---------------------------------------
     SOCIAL ICONS
-----------------------------------------*/

.fa-facebook {
    background: #3B5998;
}

.fa-youtube {
    background: #bb0000;
}

.fa-instagram {
    background: #125688;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-github {
    background: #6a0dad;
}

.fa {
    padding: 15px;
    padding-right: 25px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa, .fa:visited {
	color: white;
}

.social * {
	position: absolute;
	margin-left: 49%;
}
