@charset "UTF-8";

@media screen and (max-width: 1017px) {
	
	div.class1 p {
	font-size: 19px;
	margin-top: 30px;
	margin-left: 120px;
	margin-right: 0px;
	width: 100%;
	}
	div.s {
		margin-top: 80px;
		font-size: 15px;
	}
	div.s1 img {
		margin-top: 80px;
	}
}
@media screen and (max-width: 950px) {
	
	div.s1 img {
	}
}
@media screen and (max-width: 550px) {
	
	div.head {
		height: 170px;
		width: 88%;
		margin-left: 4px;
	}
	div.verticalNav {
		margin-left: 20%;
		margin-bottom: 10%;
	}
	div.s1 img {
		margin-top: 0px;
		width: 85%;
		height: 60%;
		margin-right: 15%;
	}
	div.class1 p {
		margin-top: 15%;
		width: 100%;
		font-size: 22px;
		margin-left: 70%;
	}
	div.s {
	    text-align: center;
	    margin-top: 50%;
	}
	footer img {
	    width: 7%;
	}
	div.websites img {
	    height: 200px;
	    width: 210px;
	}
	div.mainDiv2 hr {
	    margin-left: 0.4%;
	}
	div.lastPicture img {
	    width: 50%;
	    height: 95%;
	}
	div.classResume h1 {
	    margin-left: 10%;
	}
	div.mainDiv1 h5 {
	    display: inline;
	}
	div.classResume p {
    	font-size: 18px;
    	margin-left: 50px;
    	margin-right: 100px;
    }
    div.resume_hr {
    	width: 80%;
    	height: 3px;
    	background-color: black;
    	margin-left: 0px;
    }
	div.s1 img {
		width: 92%;
		height: 300px;
	}
	div.class1 p { 
		width: 200%;
		margin-left: auto;
		padding-left: 25px;
		font-size: 20px;
	}
	div.websites p {
		width: 90%;
	}
	div.vm p {
		width: 85%;
	}
	div.classResume p {
		width: 80%;
		margin-right: auto;
		margin-left: 30px;
	}
	div.classResume h2 {
		margin-right: 80px;
	}
}